 @import 'mixins/main';
 @import 'modules/main';

html{
	body{
		background-color:$palpatine-black;
		background-size: cover;
		height: calc(100% - #{$navbar-height});
		padding-top: $navbar-height;
	}
}